<!-- Section 1 - About - blurb -->
<div id="sec1" class="blurb">
  <div class="container">

		<h1>
			About 
			<span class="brand-color">P<sup>3</sup></span> 
			<small>Particle Physics Playground</small>
		</h1>
		
		<div class="row">
			<!-- Column -->
		  <div class="col-md-7">
				<h2>
					<i class="fa fa-sitemap"></i> 
					Overview
				</h2>
				
				<p class="lead">
					This site provides exercises, mostly using real data from experiments, 
					that teach particle physics, mostly from the experimental side.
				</p> 
				<p>
					This site is <i>not</i> meant to be a fully comprehensive tutorial. 
					The ideal student will have learned the basic 
					concepts elsewhere (classroom setting, mentor, independent study) 
					and then will use these exercises to test their understanding of 
					the concepts and to develop some sense of how "real scientists" 
					are doing this work in the field.
				</p>
				<p>
					These exercises are built around 
					<a href="https://www.python.org/">the Python programming language</a>, 
					specifically the <a href="http://ipython.org/notebook.html">the iPython notebook</a>. 
					Anyone who uses these exercises should familiarize 
					themselves with both of these products.
				</p>
				<p>
					A standard work flow would be to clone the 
					<a href="https://github.com/mattbellis/Particle-Physics-Playground">Github repository</a> 
					and then run the notebooks, editing them as they go along. 
					By actually performing the calculations themselves, the user will get the
					most out of this project.
				</p>
				<p>
					And most importantly, have fun with it!
				</p>
				
				<h2>
					<i class="fa fa-group"></i> 
					Contributors
				</h2>
		
				<p>
					<a href="https://www.siena.edu/academics/schools-departments/departments/physics-and-astronomy" class="btn btn-default btn-lg">
						<img src="img/siena.png" alt="Siena College" class="img-responsive img-rounded"><br>
						Physics Department<br>
						Siena College
					</a>
				</p>
				<p>
					<a href="http://cms.web.cern.ch/" class="btn btn-default btn-lg">
						<img src="img/cms.png" alt="Compact Muon Solenoid" class="img-responsive img-rounded"><br>
						CMS Experiment<br>
						CERN
					</a>
				</p>
		  </div> <!-- End column -->
		  <!-- Column -->
		  <div class="col-md-5">  
				<h3>
					<i class="fa fa-link"></i> 
					Links
				</h3>
				
				<ul class="nav nav-pills nav-stacked">
					<li>
						<a href="https://github.com/mattbellis/Particle-Physics-Playground" class="list-group-item list-group-item-info">
							<span class="brand-color">P<sup>3</sup></span> GitHub Repository
						</a>
					</li>
					<li>
						<a href="#sec2" class="list-group-item list-group-item-info">
							<span class="brand-color">P<sup>3</sup></span> Exercises
						</a>
					</li>
					<li>
						<a href="https://www.python.org/" class="list-group-item list-group-item-primary">
							Python Programming Language
						</a>
					</li>
					<li>
						<a href="http://ipython.org/notebook.html" class="list-group-item list-group-item-primary">
							iPython Notebooks
						</a>
					</li>
				</ul>
				
				<hr>
				
				<p>
		    	<img src="img/bg1.jpg" alt="Compact Muon Solenoid" class="img-responsive img-rounded">
				</p>
				<p><small>CMS (Compact Muon Solenoid) at CERN</small></p>
				
		  </div> <!-- End column -->
		</div> <!-- End row -->
		
  </div>
</div>





