<!-- Section 2 - Exercises - featurette  -->
<div id="sec2" class="featurette" >
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Exercises</h1>
        <h2>Particle Physics</h2>
				<hr class="space">
				<p><a href="#sec3" class="btn btn-danger btn-lg">Philosophy</a></p>
				<hr class="space">
      </div>  
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 text-center">
        <div class="featurette-item">
          <a href="http://nbviewer.ipython.org/github/mattbellis/Particle-Physics-Playground/blob/gh-pages/discovering_particles_1.ipynb"><i class="fa fa-cog"></i></a>
          <h4>Exercise 1</h4>
          <p>Discovering Particles</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 text-center">
        <div class="featurette-item">
          <a href="http://nbviewer.ipython.org/github/mattbellis/Particle-Physics-Playground/blob/gh-pages/learning_about_particles_1.ipynb"><i class="fa fa-cog"></i></a>
          <h4>Exercise 2</h4>
          <p>Learning about particles and their properties</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 text-center">
        <div class="featurette-item">
          <a href="http://nbviewer.ipython.org/github/mattbellis/Particle-Physics-Playground/blob/gh-pages/discovering_more_particles_1.ipynb"><i class="fa fa-cog"></i></a>
          <h4>Exercise 3</h4>
          <p>Discovering More Particles</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 text-center">
        <div class="featurette-item">
          <a href="#"><i class="fa fa-cog"></i></a>
          <h4>More Exercises</h4>
          <p>Coming soon...</p>
        </div>
      </div>
    </div> <!-- End row -->
  </div>
</div>