<!-- Section 2 - Philosophy - philosophy panel -->
<div id="sec3" class="philosophy">
  <div class="container">
  
		<div class="col-md-8 col-md-offset-2">  
		
			<div class="panel panel-philosophy">
			  <div class="panel-heading text-center">
			    <h2>Philosophy</h2>
			  </div>
			  <div class="panel-body">
			  	<ul class="spaced text-dark">
		        <li> 
		        	<b>Identify your learning objectives.</b> 
		        	Every exercise should identify 
							the learning goals at the top. This allows the user/student to know what they 
							will be getting out of the exercise and whether or not it will be useful to them.
							It has the additional benefit of forcing the author to consider how they will structure
							the exercise and what they want the user to come away with.
		        </li>
		        <li> 
		        	<b>Provide REAL data.</b> 
		        	While it is often useful to use Monte Carlo to emphasize
							certain aspects of the data analysis with a more controlled dataset, I feel it is
							important to encourage experiments to provide their data to the public. If an
							experiment wants this site to host some of their data and exercises, I would require
							at least some of the data actually come from their experiment. 
		        </li>
					</ul>
					<p>
						This project is licensed using the MIT Open Source license. This means
						that any of you anywhere can make a copy of this site and host it elsewhere. 
						I am totally cool with that.
					</p>
				  <p>
				    However, it would be great to have some common repository for different experiments to 
				    have their data used to teach people science and train the next generation of particle
				    physicists. I am therefore happy to include data and exercises (at any level!) from 
				    interested individuals. To this end, I have some helpful suggestions (and requirements!)
				    for those of you who would like to contribute.
					</p>
			  </div> <!-- end panel body -->
			</div> <!-- end panel  -->
		</div> <!-- end col  -->
  </div> <!-- end container  -->
</div> <!-- end div  -->
