<h1>
	<span class="brand-color">P<sup>3</sup></span> 
	Particle Physics Playground
</h1>

<p class="lead">
	Repo of particle physics data from CMS and other experiments with code and tutorials on how to interact with these data.
</p>
  
<div class="row">
	<div class="col-md-4 col-md-offset-2">
		<p>
			<a href="https://github.com/mattbellis/Particle-Physics-Playground" class="btn btn-primary ">View on GitHub</a>
		</p>
	</div>
	<div class="col-md-4">
  	<p>
  		<span class="caps">Download</span>
			<a href="https://github.com/mattbellis/Particle-Physics-Playground/zipball/master" class="btn btn-info ">Zip</a>
			<a href="https://github.com/mattbellis/Particle-Physics-Playground/tarball/master" class="btn btn-default btn-info">Tar</a>
  	</p>
	</div>
</div>